div{
    width: 100%;
    ul{
        display: block;
        list-style-type: none;
        
    }
}

div{
    display: flex;
    justify-content: center;
    input{
        margin: 10px;
        padding: 3px;
        min-width: 80%;
    }
    .btn{
        background-color: rgb(52, 214, 73);
        padding: 0px 20px;
    }
}

