
<form [formGroup]="myForm" (ngSubmit)="add()">
  <div>
    <input formControlName="task" type="text" class="form-control" placeholder="Введите, что выхотите сделать" (keyup)="bindTodoText()">
    <button type="submit" class="btn" [disabled]="myForm.invalid"> Add </button>     
  </div>

    <p>
      <small *ngIf="(myForm.get('task').invalid && myForm.get('task').value != '' )">Задание не можедт быть меньше 6-ти символов</small>
      <small class="hint" *ngIf="(myForm.get('task').untouched && !myForm.get('task').dirty || myForm.get('task').value == '')">Задача не должна быть пустой</small>    
    </p>


  <hr>
  <p>Сортировки и поиск</p> 
  <button class="btn" (click)="onDataFilt()">Дата</button>
  <button class="btn" (click)="onPriorityFilt()">Приоритет</button>
  <button class="btn" (click)="onCompleteFilt()">Готовность</button>
  
</form>
<div>
    <input [(ngModel)]='search' type="text" placeholder="найти...." (keyup) = onSearchAndFilt()>
</div>
<hr>
