.wrap{
    margin-top: 80px;
}
.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;  
    top: 0;
    li {
        float: left; 
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }   
    li:hover {
        background-color: #111111; 
    }
    .active {color:rgb(248, 175, 64);}
    cursor: pointer;
}


