<div class="vert-strech">
  <app-header
  (searchFiltEmit) = 'onSearchAndFilt($event)'>
  </app-header>
   
  <app-item 
    [item]='item'
    *ngFor="let item of items | async | filter:this.search ;let i = index"
    (onAction)='onAction($event)'>
  </app-item> 
  <h4 *ngIf="((items | async | filter:this.search)?.length === 0)">
    List is empty!
  </h4> 
  <!-- <h4 *ngIf="((items | async)?.length === 0)">
        
  </h4> -->

  <app-footer     
  [count] = 'taskSvc.counts'
  [completed] = 'taskSvc.completeds'>
  </app-footer> 
</div> 

<app-modal-windows 
  *ngIf="this.editModal"
  [actionPack] = 'actionPack'
  (cancel) = 'onCancel()'
  (save) = onSave($event)
  (delete) = onDel($event)
  >
</app-modal-windows>