<div class="modal-window">
    <div class="back-in-black"></div>

    <div class="area" *ngIf = "actionPack.mode else delContent">
        <h2>Data: {{ actionPack.obj.date | date : 'dd-MM-yyyy'}}</h2>
        <input [(ngModel)] = "actionPack.obj.content" >    
        Importance rate {{ actionPack.obj.importance }}
        <div *ngIf = 'actionPack.obj.done else uncompleted'>
            Completed
        </div>
        <ng-template #uncompleted>
            <div>
                NOT Completed
            </div>            
        </ng-template>        
        <div class="btn-block">
            <button class="btn btn-confirm" (click) = 'onSaveEdit()'>Да</button>
            <button class="btn btn-close" (click) = 'onCancel()'>Закрыть</button>
        </div>
    </div>

    <ng-template #delContent>
        <div class="area del">
            <h2>Do you really want to delete </h2>
                <label> {{ actionPack.obj.content }}</label>    
            Importance rate {{ actionPack.obj.importance }} 
            <div *ngIf = 'actionPack.obj.done else uncompleted'>
                Completed
            </div>
            <ng-template #uncompleted>
                <div>
                    NOT Completed
                </div>            
            </ng-template>        
            <div class="btn-block">
                <button class="btn btn-confirm" (click) = 'onDelete()'>Удалить</button>
                <button class="btn btn-close" (click) = 'onCancel()'>Закрыть</button>
            </div>
        </div>
    </ng-template>
</div> 